{% extends 'admin/base.html.twig' %}

{% block info %}
    {% if info is defined %}
        {% if info == 'admins-delete-success'%}
            <div class="alert alert-success text-center" role="alert">Admin został usunięty</div>
        {% elseif info == 'admins-delete-fail'%}
            <div class="alert alert-danger text-center" role="alert">Admin nie został usunięty</div>
        {% elseif info == 'admins-delete-fail-lackpermissions'%}
            <div class="alert alert-danger text-center" role="alert">Admin nie został usunięty - brak uprawnień</div>
        {% elseif info == 'shop-updateAddon-success'%}
            <div class="alert alert-success text-center" role="alert">Dodatek został zmieniony</div>
        {% elseif info == 'shop-updateAddon-fail'%}
            <div class="alert alert-danger text-center" role="alert">Dodatek nie został zmieniony</div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block head %}
    <script type = "text/javascript" language = "javascript">
        $(document).ready(function(){
            $('.moreInfo.btn.btn-default').click(function() {
                var cid = $( this ).attr('id');
                $( '.agrementsHistory-'+cid ).fadeToggle();
            });
        })
    </script>

    {% endblock %}

{% block body %}
{% set url = "index.php?site=admin&action=raports" %}
    
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="row">
                <div class="col-md-2">
                    {% include 'admin/agrements-menu.html.twig' %}
                </div>
                <div class="col-md-10">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td><strong>Rozwiń</strong></td>
                                <td><strong>Nr zamówienia</strong></td>
                                <td><strong>Nazwa</strong></td>
                                <td><strong>Status</strong></td>
                                <td><strong>Kwota netto</strong></td>
                                <td><strong>Nr faktury</strong></td>
                                <td><strong>Zapłacone</strong></td>
                                <td><strong>Data faktury</strong></td>
                            </tr>
                        </thead>
                        {% for agrementOrder in agrementsOrder %}
                            <tr>
                                <td><button id="{{agrementOrder.order_id}}" class="moreInfo btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></td>
                                <td>{{agrementOrder.order_id}}</td>
                                <td>{{agrementOrder.company}}</td>
                                <td>{{agrementOrder.order_status_name}}</td>
                                <td>{{agrementOrder.order_subtotal|round(2,'common')}}</td>
                                <td></td>
                                <td></td>
                                <td>{{ agrementOrder.cdate|date('d-m-Y H:i:s') }}</td>
                            </tr>
                            {% for agrement in agrements %}
                                {% if agrement.order_id == agrementOrder.order_id %}
                                <tr class="agrementsHistory-{{agrement.order_id}}" style="display:none">
                                    <td colspan="8">
                                        <table class="table table-bordered">
                                            <tr id="agrementsHistory-{{agrement.order_id}}" class="{%if agrement.agPayed== 1%}success{%else%}danger{%endif%}">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>{{ agrement.agSubtotal }} zł</td>
                                                <td>{{ agrement.agFvNumber }}</td>
                                                <td>{%if agrement.agPayed== 1%}Tak{%else%}Nie{%endif%} - {%if agrement.agAll== 1%}Całość{%else%}Raty{%endif%}</td>
                                                <td>{{ agrement.agDate|date('d-m-Y') }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}