{% extends 'admin/base.html.twig' %}

{% block info %}
    {% if info is defined %}
        {% if info == 'deleteOrder-success'%}
            <div class="alert alert-success text-center" role="alert">Zamówienie zostało usunięte</div>
        {% elseif info == 'deleteOrder-fail'%}
            <div class="alert alert-danger text-center" role="alert">Zamówienie nie zostało usunięte</div>
        {% elseif info == 'updateOrderStatus-success'%}
            <div class="alert alert-success text-center" role="alert">Status zamówienia został zmieniony</div>
        {% elseif info == 'updateOrderStatus-fail'%}
            <div class="alert alert-danger text-center" role="alert">Status zamówienia nie został zmieniony</div>
        {% elseif info == 'deleteUser-success'%}
            <div class="alert alert-success text-center" role="alert">Użytkownik został usunięty</div>
        {% elseif info == 'deleteUser-fail'%}
            <div class="alert alert-danger text-center" role="alert">Użytkownik nie został usunięty</div>
        {% elseif info == 'deleteUser-fail-haveOrders'%}
            <div class="alert alert-danger text-center" role="alert">Użytkownik posiada zamówienia nie może zostać usunięty</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
{% set url = "index.php?site=admin&action=shop&act=users" %}
{% if searchInput is not empty %}{% set url = url ~ "&searchInput=" ~ searchInput %}{% endif %}

    <div class="row">
        <div class="pull-right">
        <form action="{{url}}" method="GET" class="form-inline">
            <input type="hidden" value="admin" name="site" />
            <input type="hidden" value="shop" name="action" />
            <input type="hidden" value="users" name="act" />
            <input type="text" class="form-control" name="searchInput" {% if searchInput is not empty %}value="{{searchInput}}"{% endif %} placeholder="Wyszukaj użytkownika ..."/>
            <input type="submit" value="Szukaj" class="btn btn-success" />
        </form>
        </div>
        <br/><br/>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            {% include 'admin/shop-menu.html.twig' %}
        </div>
        <div class="col-md-10 bg-white">
            <table class="table table-bordered">
            <tr>
                <td><strong>Lp.</strong></td>
                <td><strong>Id. użytkownika.</strong></td>
                <td><strong>Nazwa użytkownika</strong></td>
                <td><strong>Nazwa firmy</strong></td>
                <td><strong>NIP</strong></td>
                <td><strong>Konsultant</strong></td>
                <td><strong>Usuń</strong></td>
            </tr>
            {% if activePage == 1%}
                {% set a = 1 %}
            {% else %}
                {% set a = 1 + activePage*pagin.limit %}
            {% endif %}
            {% for user in pagin.users %}
                <tr>
                    <td>{{ a }}</td>
                    <td><a href="index.php?site=admin&action=shop&act=users&show=userDetail&userId={{ user.user_id }}">{{ user.user_id }}</a></td>
                    <td><span class="font11"><a href="index.php?site=admin&action=shop&act=users&show=userDetail&userId={{ user.user_id }}">{{ user.username }}</span></td>
                    <td><span class="font11">{{ user.company }}</td>
                    <td><span class="font11">{{ user.extra_field_1 }}</td>
                    <td><span class="font11">{{ user.extra_field_2 }}</td>
                    <td><a href="index.php?site=admin&action=shop&act=users&perf=deleteUser&userId={{ user.user_id }}" class="btn btn-danger">Usuń</a></td>
                </tr>
                {% set a = a+1 %}
            {% endfor %}

            </table>
        </div>
    </div>
    
    <nav aria-label="...">
        <ul class="pagination">
            {% if activePage < 2%}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
            {% else %}
                <li>
                    <a href="{{url}}&page={{ activePage-1 }}"><span aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}
            {% set a = 1 %}
            
            {% for a in 1..pagin.pages+1  %}
                {% if activePage == a%}
                    <li class="active">
                        <span>{{ a }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{url}}&page={{ a }}"><span>{{ a }}</span></a>
                    </li>
                {% endif %}
            {% endfor %}
                
            {% if activePage == pagin.pages %}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
            {% else %}
                <li>
                    <a href="{{url}}&page={{ activePage+1 }}"><span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}