{% extends 'admin/base.html.twig' %}

{% block info %}
    {% if info is defined %}
        {% if info == 'deleteOrder-success'%}
            <div class="alert alert-success text-center" role="alert">Zamówienie zostało usunięte</div>
        {% elseif info == 'deleteOrder-fail'%}
            <div class="alert alert-danger text-center" role="alert">Zamówienie nie zostało usunięte</div>
        {% elseif info == 'updateOrderStatus-success'%}
            <div class="alert alert-success text-center" role="alert">Status zamówienia został zmieniony</div>
        {% elseif info == 'updateOrderStatus-fail'%}
            <div class="alert alert-danger text-center" role="alert">Status zamówienia nie został zmieniony</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="pull-right">
        <form action="index.php?site=admin&action=shop" method="GET" class="form-inline">
            <input type="hidden" value="admin" name="site" />
            <input type="hidden" value="shop" name="action" />
            <input type="text" class="form-control" name="searchInput" {% if searchInput is not empty %}value="{{searchInput}}"{% endif %} placeholder="Wyszukaj użytkownika ..."/>
            <input type="submit" value="Szukaj" class="btn btn-default" />
        </form>
        </div>
        <br/><br/>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            {% include 'admin/shop-menu.html.twig' %}
        </div>
        <div class="col-md-10 bg-white ">
            <div class="row">
                <div class="pull-right">
                    <a href="" class="btn btn-success">Dodaj produkt</a>
                </div>
                <br/>
                <br/>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                <tr>
                    <td><strong>Nazwa</strong></td>
                    <td>{{ product.product_name }}</td>
                </tr>
                <tr>
                    <td><strong>SKU</strong></td>
                    <td>{{ product.product_sku }}</td>
                </tr>
                <tr>
                    <td><strong>Netto</strong></td>
                    <td>{{ product.product_price }}</td>
                </tr>
                <tr>
                    <td><strong>Brutto</strong></td>
                    <td>{{ product.product_price+product.product_price*tax_rate }}</td>
                </tr>
                <tr>
                    <td><strong>Kategoria</strong></td>
                    <td>{{ product.category_name }}</td>
                </tr>
                <tr>
                    <td><strong>Miniatura</strong></td>
                    <td><img src="{{ product.product_thumb_image }}"/></td>
                </tr>
                <tr>
                    <td><strong>Obrazek</strong></td>
                    <td><img src="{{ product.product_full_image }}"/></td>
                </tr>
                <tr>
                    <td><strong>Opublikowany</strong></td>
                    <td>
                        {% if product.product_publish == 'Y' %}
                            <p class="text-success">Tak</p>
                        {% else %}
                            <p class="text-danger">Nie</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Usuń</strong></td>
                    <td><a href="index.php?site=admin&action=shop&act=products&perf=deleteProduct&productId={{product_product_id}}" class="btn btn-danger"> Usuń </a>
                </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}