{% extends 'admin/base.html.twig' %}

{% block info %}
    {% if info is defined %}
        {% if info == 'deleteOrder-success'%}
            <div class="alert alert-success text-center" role="alert">Zamówienie zostało usunięte</div>
        {% elseif info == 'deleteOrder-fail'%}
            <div class="alert alert-danger text-center" role="alert">Zamówienie nie zostało usunięte</div>
        {% elseif info == 'updateOrderStatus-success'%}
            <div class="alert alert-success text-center" role="alert">Status zamówienia został zmieniony</div>
        {% elseif info == 'updateOrderStatus-fail'%}
            <div class="alert alert-danger text-center" role="alert">Status zamówienia nie został zmieniony</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block head %}
    <script type = "text/javascript" language = "javascript">
        $(document).ready(function(){
             $('.pobierzUPS').click(function() {
                var cid = $( this ).attr('id');
                $( '#stat-'+cid ).html('Pobieranie statusu');
                $.ajax({
                    type:"GET",
                    url:"index.php", 
                    contentType:"application/json; charset=utf-8",
                    data: "api=api&action=checkUpsLastStatus&orderId="+cid,
                    dataType:'json', 
                        success: function(json) {
                            var miasto = json[0].city;
                            var description = json[0].description;
                            var signedForByName = json[0].signedForByName;
                            var date = json[0].date;
                            $( '#stat-'+cid ).html(description+'-'+miasto+' '+signedForByName+' ' );
                        },
                        error: function(blad) {
                            alert( "Wystąpił błąd");
                            console.log(blad); 
                        }
                });
            });
        })
    </script>
    
    
    <script type = "text/javascript" language = "javascript">
        $(document).ready(function(){
             $('.start.btn.btn-default').click(function() {
                var cid = $( this ).attr('id');
                var form = $('#updateOrderStatus-'+cid).serialize();
                
                $.ajax({
                    type:"GET",
                    url:"index.php", 
                    contentType:"application/json; charset=utf-8",
                    data: form,
                        success: function(response){
                            if(response==1){
                                $( '#alertInfo' ).attr('style', 'position:fixed; top:0px; width:90%; z-index:20').attr('class','alert alert-success text-center').html(' Status został zmieniony ').fadeIn(400).delay(1000).fadeOut(400);
                            }else {
                                $( '#alertInfo' ).attr('style',' position:fixed; top:0px; width:90%; z-index:20').attr('class','alert alert-danger text-center').html(' Status nie został zmieniony ').fadeIn(400).delay(1000).fadeOut(400);
                            }
                        },
                        error: function(blad) {
                            alert( "Wystąpił błąd");
                            console.log(blad); 
                            $( '#alertInfo' ).attr('style','position:fixed; top:0px; width:90%; z-index:20').html(' Status nie został zmieniony ').fadeIn(400).delay(1000);
                        }
                });
            });
        })
    </script>
{% endblock %}

{% block body %}
    <div style=" display:none;" id="alertInfo">
        
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <h3>Sklep</h3>
        </div>
        <div class="col-md-4">
            <form action="index.php?site=admin&action=shop" method="GET" class="form-inline">
                <input type="hidden" value="admin" name="site" />
                <input type="hidden" value="shop" name="action" />
                <input type="text" class="form-control" name="searchInput" {% if searchInput is not empty %}value="{{searchInput}}"{% endif %} placeholder="Wyszukaj użytkownika ..."/>
                <input type="submit" value="Szukaj" class="btn btn-success" />
            </form>
        </div>
        <br/><br/>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            {% include 'admin/shop-menu.html.twig' %}
        </div>
        <div class="col-md-10 bg-white table-responsive">
            <span class="font9">Filtr wg statusów: 
            {% for orderStatus in orderStatuses %}
                <a href="index.php?site=admin&action=shop&searchStatus={{ orderStatus.order_status_code }}">{{ orderStatus.order_status_name }}</a>, 
            {% endfor %}
            </span>
            <table class="table table-hover">
            <tr>
                <td><strong><span class="font11">Lp.</span></strong></td>
                <td><strong><span class="font11">Id zam.</span></strong></td>
                <td><strong><span class="font11">Data zam.</span></strong></td>
                <td><strong><span class="font11">Nazwa - Firma</span></strong></td>
                <td><strong><span class="font11">NIP</span></strong></td>
                <td><strong><span class="font11">Konsultant</span></strong></td>
                <td><strong><span class="font11">Kwota Netto/Brutto</span></strong></td>
                <td><strong><span class="font11">Status</span></strong></td>
                <td><strong><span class="font11">Drukuj</span></strong></td>
            </tr>
            {% set a = 1 %}
            {% for order in pagin.orders %}
                <tr>
                    <td>{{ a }}</td>
                    <td><a href="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id }}">{{ order.order_id }}</a></td>
                    <td style="width:110px"><span class="font11">{{ order.cdate|date("d-m-Y H:i:s",false) }}</span></td>
                    <td><span class="font12"><a href="index.php?site=admin&action=shop&act=users&show=userDetail&userId={{ order.user_id }}">{{ order.name }} {{ order.company[0:100]|replace({'&quot;':'"'}) }} </a></span><br/>
                    <span class="font9"> {{order.littleNote|raw}}</span>
                    </td>
                    <td>{{ order.extra_field_1 }}</td>
                    <td><span class="font11">{{ order.konsultantFirstName }} {{ order.konsultantLastName }} {{ order.extra_field_2 }}</span></td>
                    <td style="width:110px">{{ order.order_subtotal|round(2,'common') }}zł / {{ order.order_total|round(2,'common') }}zł</td>
                    <td style="width:180px">
                    <form method="POST" class="form-inline" action="index.php?site=admin&action=shop&perf=updateOrderStatus&orderId={{ order.order_id }}">
                        <select style="width:100px;" class="form-control" name="inputStatus">
                        {% for orderStatus in orderStatuses %}
                            {% if order.order_status_name == orderStatus.order_status_name  %}
                                <option selected value="{{ orderStatus.order_status_code }}" >{{ orderStatus.order_status_name }}</option>
                            {% else %}
                                <option value="{{ orderStatus.order_status_code }}" >{{ orderStatus.order_status_name }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        <input style="width:50px;padding:2px" type="submit" class="btn btn-default" value="Zapisz"/>
                    </form>
                    
                    
                    
                    <div class="row">
                        <div class="col-md-8" style="padding:0px">
                            <form method="GET" id="updateOrderStatus-{{ order.order_id }}" class="form-inline" action="#">
                                <input type="hidden" name="api" value="api"/>
                                <input type="hidden" name="action" value="updateOrderStatus"/>
                                <input type="hidden" name="orderId" value="{{ order.order_id }}"/>
                                <select style="width:100px;" class="form-control" name="orderStatusCode">
                                {% for orderStatus in orderStatuses %}
                                    {% if order.order_status_name == orderStatus.order_status_name  %}
                                        <option selected value="{{ orderStatus.order_status_code }}" >{{ orderStatus.order_status_name }}</option>
                                    {% else %}
                                        <option value="{{ orderStatus.order_status_code }}" >{{ orderStatus.order_status_name }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="col-md-4"  style="padding:0px">
                            <button id="{{ order.order_id }}" style="width:50px;padding:2px" class="start btn btn-default">Zapisz</button>
                        </div>
                    </div>
                        
                    
                    
                    <span id="stat-{{ order.order_id }}" class="font11"><button class="pobierzUPS" id="{{ order.order_id }}">UPS - status:</button></span>
                    </td>
                    <td>
                        <a target="_blank" href="index.php?site=admin&action=shop&act=orderPdf&orderId={{ order.order_id }}"><img src="web/images/print.png"/></a>
                    </td>
                </tr>
                {% set a = a+1 %}
            {% endfor %}
            </table>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            {% if activePage < 2%}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
            {% else %}
                <li>
                    <a href="index.php?site=admin&action=shop&page={{ activePage-1 }}{% if searchInput is defined %}&searchInput={{searchInput}}{% endif %}{% if searchStatus is defined %}&searchStatus={{searchStatus}}{% endif %}"><span aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}
            {% set a = 1 %}
            {% for a in 1..pagin.pages  %}
                {% if activePage == a%}
                    <li class="active">
                        <span>{{ a }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li>
                        <a href="index.php?site=admin&action=shop&page={{ a }}{% if searchInput is defined %}&searchInput={{searchInput}}{% endif %}{% if searchStatus is defined %}&searchStatus={{searchStatus}}{% endif %}"><span>{{ a }}</span></a>
                    </li>
                {% endif %}
            {% endfor %}
                
            {% if activePage == pagin.pages %}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
            {% else %}
                <li>
                    <a href="index.php?site=admin&action=shop&page={{ activePage+1 }}{% if searchInput is defined %}&searchInput={{searchInput}}{% endif %}{% if searchStatus is defined %}&searchStatus={{searchStatus}}{% endif %}"><span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}