{% extends 'admin/base.html.twig' %}

{% block info %}
    {% if info is defined %}
        {% if info == 'admins-delete-success'%}
            <div class="alert alert-success text-center" role="alert">Admin został usunięty</div>
        {% elseif info == 'admins-delete-fail'%}
            <div class="alert alert-danger text-center" role="alert">Admin nie został usunięty</div>
        {% elseif info == 'admins-delete-fail-lackpermissions'%}
            <div class="alert alert-danger text-center" role="alert">Admin nie został usunięty - brak uprawnień</div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block head %}
      <script>
        $( function() {
          $( "#datepicker" ).datepicker();
        } );
    </script>
{% endblock %}
{% block body %}
{% set url = "index.php?site=admin&action=raports" %}
    
    <div class="row">
        <div class="col-md-2">
            {% include 'admin/shop-menu.html.twig' %}
        </div>
        <div class="col-md-10 bg-white">
            <h3>Raport Dzienny:</h3>
            <form class="form-inline" action="{{url}}" method="GET">
                <input type='hidden' name='site' value='admin'/>
                <input type='hidden' name='action' value='shop'/>
                <input type='hidden' name='act' value='raports'/>
                <input type='hidden' name='pref' value='daily'/>
                <select class='form-control' name='activeYear'>
                    {% for i in 2016..2036 %}
                        {% if activeYear == i %}
                            <option  value='{{i}}' selected>{{i}}</option>
                        {% else %}
                            <option value='{{i}}' >{{i}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select class='form-control' name='activeMonth'>
                    {% for i in 1..12 %}
                        {% if activeMonth == i %}
                            <option value='{{i}}' selected>{{i}}</option>
                        {% else %}
                            <option value='{{i}}' >{{i}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select class='form-control' name='activeDay'>
                    {% for i in 1..31 %}
                        {% if activeDay == i %}
                            <option value='{{i}}' selected>{{i}}</option>
                        {% else %}
                            <option value='{{i}}' >{{i}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input class="btn btn-primary" type="submit" value="Sprawdź"/>
            </form><br/>
            <table class="table table-bordered">
            <tr>
                <td><strong>Obrót dzienny</strong></td>
                <td><strong>Ilość zamówień</strong></td>
                <td><strong>Średnia wartość zamówienia</strong></td>
                <td><strong>Suma w miesiącu</strong></td>
            </tr>
                <tr>
                    <td>{{ raports.daySum|round(2, 'common') }}</td>
                    <td>{{ raports.dayCount|round(2, 'common') }}</td>
                    <td>{{ raports.dayAverage|round(2, 'common') }}</td>
                    <td>{{ raports.monthSum|round(2, 'common') }}</td>
                </tr>
            </table>
            {% if config.klasy == 1 %}
                <h3>Obrót dla OCHRONY</h3>
                <br/>
                <table class="table table-bordered">
                <tr>
                    <td><strong>Obrót dzienny zapłacone</strong></td>
                    <td><strong>Obrót dzienny odebrane</strong></td>
                    <td><strong>Obrót w miesiącu zapłacone</strong></td>
                    <td><strong>Obrót w miesiącu odebrane</strong></td>
                </tr>
                    <tr>
                        <td>{{ raports.dayPayedSumOther|round(2, 'common') }}</td>
                        <td>{{ raports.dayReceivedSumOther|round(2, 'common') }}</td>
                        <td>{{ raports.monthPayedSumOther|round(2, 'common') }}</td>
                        <td>{{ raports.monthReceivedSumOther|round(2, 'common') }}</td>
                    </tr>
                </table>
                
                <h3>Obrót dla BHP</h3>
                <br/>
                <table class="table table-bordered">
                <tr>
                    <td><strong>Obrót dzienny zapłacone</strong></td>
                    <td><strong>Obrót dzienny odebrane</strong></td>
                    <td><strong>Obrót w miesiącu zapłacone</strong></td>
                    <td><strong>Obrót w miesiącu odebrane</strong></td>
                </tr>
                    <tr>
                        <td>{{ raports.dayPayedSumBhp|round(2, 'common') }}</td>
                        <td>{{ raports.dayReceivedSumBhp|round(2, 'common') }}</td>
                        <td>{{ raports.monthPayedSumBhp|round(2, 'common') }}</td>
                        <td>{{ raports.monthReceivedSumBhp|round(2, 'common') }}</td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
    
{% endblock %}