{% extends 'admin/base.html.twig' %}

{% block info %}
    {% if info is defined %}
        {% if info == 'deleteOrder-success'%}
            <div class="alert alert-success text-center" role="alert">Zamówienie zostało usunięte</div>
        {% elseif info == 'deleteOrder-fail'%}
            <div class="alert alert-danger text-center" role="alert">Zamówienie nie zostało usunięte</div>
        {% elseif info == 'updateOrderStatus-success'%}
            <div class="alert alert-success text-center" role="alert">Status zamówienia został zmieniony</div>
        {% elseif info == 'updateOrderStatus-fail'%}
            <div class="alert alert-danger text-center" role="alert">Status zamówienia nie został zmieniony</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>Sklep</h1>
    <div class="row">
        <div class="pull-right">
        <form action="index.php?site=admin&action=shop" method="GET" class="form-inline">
            <input type="hidden" value="admin" name="site" />
            <input type="hidden" value="shop" name="action" />
            <input type="text" class="form-control" name="searchInput" {% if searchInput is not empty %}value="{{searchInput}}"{% endif %} placeholder="Wyszukaj użytkownika ..."/>
            <input type="submit" value="Szukaj" class="btn btn-success" />
        </form>
        </div>
        <br/><br/>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            {% include 'admin/shop-menu.html.twig' %}
        </div>
        <div class="col-md-10 bg-white table-responsive">
            <table class="table table-bordered">
            <tr>
                <td><strong>Lp.</strong></td>
                <td><strong>Id zam.</strong></td>
                <td><strong>Data zam.</strong></td>
                <td><strong>Nazwa - Firma</strong></td>
                <td><strong>NIP</strong></td>
                <td><strong>Konsultant</strong></td>
                <td><strong>Kwota Netto/Brutto</strong></td>
                <td><strong>Status</strong></td>
                <td><strong>Usuń</strong></td>
            </tr>
            {% set a = 1 %}
            {% for order in pagin.orders %}
                <tr>
                    <td>{{ a }}</td>
                    <td><a href="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id }}">{{ order.order_id }}</a></td>
                    <td>{{ order.cdate|date("d-m-Y H:i:s",false) }}</a></td>
                    <td><span class="font11"><a href="index.php?site=admin&action=shop&act=users&show=userDetail&userId={{ order.user_id }}">{{ order.name }} {{ order.company[0:100] }} </span></td>
                    <td>{{ order.extra_field_1 }}</td>
                    <td><span class="font11">{{ order.konsultantFirstName }} {{ order.konsultantLastName }} {{ order.extra_field_2 }}</span></td>
                    <td>{{ order.order_subtotal|round(2,'common') }}zł / {{ order.order_total|round(2,'common') }}zł</td>
                    <td>
                    <form method="POST" class="form-inline" action="index.php?site=admin&action=shop&perf=updateOrderStatus&orderId={{ order.order_id }}">
                        <select class="form-control" name="inputStatus">
                        {% for orderStatus in orderStatuses %}
                            {% if order.order_status_name == orderStatus.order_status_name  %}
                                <option selected value="{{ orderStatus.order_status_code }}" >{{ orderStatus.order_status_name }}</option>
                            {% else %}
                                <option value="{{ orderStatus.order_status_code }}" >{{ orderStatus.order_status_name }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-default" value="Zapisz"/>
                    </form>
                    </td>
                    <td><a href="index.php?site=admin&action=shop&perf=deleteOrder&orderId={{ order.order_id }}" class="btn btn-danger">Usuń</a></td>
                </tr>
                {% set a = a+1 %}
            {% endfor %}
            </table>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            {% if activePage < 2%}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
            {% else %}
                <li>
                    <a href="index.php?site=admin&action=shop&page={{ activePage-1 }}{% if searchInput is defined %}&searchInput={{searchInput}}{% endif %}"><span aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}
            {% set a = 1 %}
            {% for a in 1..pagin.pages  %}
                {% if activePage == a%}
                    <li class="active">
                        <span>{{ a }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li>
                        <a href="index.php?site=admin&action=shop&page={{ a }}{% if searchInput is defined %}&searchInput={{searchInput}}{% endif %}"><span>{{ a }}</span></a>
                    </li>
                {% endif %}
            {% endfor %}
                
            {% if activePage == pagin.pages %}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
            {% else %}
                <li>
                    <a href="index.php?site=admin&action=shop&page={{ activePage+1 }}{% if searchInput is defined %}&searchInput={{searchInput}}{% endif %}"><span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}