{% extends 'admin/base.html.twig' %}

{% block info %}
    {% if info is defined %}
        {% if info == 'product-delete-success'%}
            <div class="alert alert-success text-center" role="alert">Produkt został usunięty</div>
        {% elseif info == 'product-delete-fail'%}
            <div class="alert alert-danger text-center" role="alert">Produkt nie został usunięty</div>
        {% elseif info == 'product-add-success'%}
            <div class="alert alert-success text-center" role="alert">Produkt został dodany</div>
        {% elseif info == 'product-add-fail'%}
            <div class="alert alert-danger text-center" role="alert">Produkt nie został doddany</div>
        {% elseif info == 'product-updateItem-success'%}
            <div class="alert alert-success text-center" role="alert">Produkt został zaktualizowany</div>
        {% elseif info == 'product-updateItem-fail'%}
            <div class="alert alert-danger text-center" role="alert">Produkt nie został zaktualizowany</div>
        {% elseif info == 'product-updateOrderSendTo-success'%}
            <div class="alert alert-success text-center" role="alert">Wysyłka została zaktualizowana</div>
        {% elseif info == 'product-updateOrderSendTo-fail'%}
            <div class="alert alert-danger text-center" role="alert">Wysyłka nie została zaktualizowana</div>
        {% elseif info == 'product-updateOrderUser-success '%}
            <div class="alert alert-success text-center" role="alert">Użytkownik został zmieniony</div>
        {% elseif info == 'product-updateOrderUser-fail'%}
            <div class="alert alert-danger text-center" role="alert">Użytkownik nie został zmieniony</div>
        {% elseif info == 'product-updateOrderSendTo-success '%}
            <div class="alert alert-success text-center" role="alert">Notatka została zmieniona</div>
        {% elseif info == 'product-updateOrderSendTo-fail'%}
            <div class="alert alert-danger text-center" role="alert">Notatka nie została zmieniona</div>
        {% elseif info == 'product-updateOrderPayment-success '%}
            <div class="alert alert-success text-center" role="alert">Wysyłka została zmieniona</div>
        {% elseif info == 'product-updateOrderPayment-fail'%}
            <div class="alert alert-danger text-center" role="alert">Wysyłka nie została zmieniona</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-md-2">
            {% include 'admin/shop-menu.html.twig' %}
        </div>
        <div class="col-md-10">
            <div class="well">
                <div class="row">
                    <div class="pull-right">
                        <a href="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id+1 }}">Następne zamówienie >></a>
                    </div>
                    <div class="pull-left">
                        <a href="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id-1 }}"><< Poprzednie zamówienie</a>
                    </div>
                </div>
                <div class="row">
                    <div class="pull-left col-md-6">
                    Zamówienie nr. {{ order.order_id }}<br/>
                    Data zamówienia: {{ order.cdate|date("d-m-Y H:i:s") }}<br/>
                    Data modyfikacji: {{ order.mdate|date("d-m-Y H:i:s") }}<br/>
                    Stan zamówienia: {{ order.order_status_name }}<br/>
                    <br/>
                    <br/>
                    </div>
                    <div class="pull-right well col-md-6">
                         <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="#historia" aria-controls="historia" role="tab" data-toggle="tab">Historia</a></li>
                            <li role="presentation"><a href="#status" aria-controls="status" role="tab" data-toggle="tab">Status</a></li>
                        </ul>
                         <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade" id="historia">
                                <table class="table table-condensed">
                                    <tr>
                                        <td>Data</td>
                                        <td>Powiadomić klienta</td>
                                        <td>Status</td>
                                        <td>Komentarz</td>
                                    </tr>
                                        {% for history in orderHistory %}
                                        <tr>
                                            <td>{{history.date_added|date("d-m-Y H:i:s")}} </td>
                                            <td>{% if history.customer_notified == 1 %}Tak{% else %}Nie{% endif %}</td>
                                            <td>{{history.order_status_name}}</td>
                                            <td>{{history.comments}}</td>
                                            </tr>
                                        {% endfor %}
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade " id="status">
                                <form method="POST" class="form" action="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id }}&perf=updateOrderStatus">
                                    <select class="form-control" name="inputStatus">
                                    {% for orderStatus in orderStatuses %}
                                        {% if order.order_status_name == orderStatus.order_status_name  %}
                                            <option selected value="{{ orderStatus.order_status_code }}" >{{ orderStatus.order_status_name }}</option>
                                        {% else %}
                                            <option value="{{ orderStatus.order_status_code }}" >{{ orderStatus.order_status_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                    <strong>Komentarz</strong>
                                    <textarea class="form-control" name="comments"></textarea>
                                    <input type="submit" class="btn btn-default" value="Zapisz"/>
                                </form>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Rachunek</strong><br/>  
                        <table class="table table-bordered ">
                        <tr>
                            <td>E-mail:</td>
                            <td>{{ order.user_email }}</td>
                        </tr>
                        <tr>
                            <td>Nazwa firmy:</td>
                            <td>{{ order.company|replace({'&quot;':'"'}) }}</td>
                        </tr>
                        <tr>
                            <td>Imię i Nazwisko:</td>
                            <td><a href="index.php?site=admin&action=shop&act=users&show=userDetail&userId={{ order.user_id }}">{{ order.first_name }} {{ order.last_name }}</a></td>
                        </tr>
                        <tr>
                            <td>Ulica:</td>
                            <td>{{ order.address_1 }}</td>
                        </tr>
                        <tr>
                            <td>Miasto:</td>
                            <td>{{ order.city }}</td>
                        </tr>
                        <tr>
                            <td>Kod pocztowy:</td>
                            <td>{{ order.zip }}</td>
                        </tr>
                        <tr>
                            <td>Telefon:</td>
                            <td>{{ order.phone_1 }}</td>
                        </tr>
                        <tr>
                            <td>Telefon kom.:</td>
                            <td>{{ order.phone_2 }}</td>
                        </tr>
                        <tr>
                            <td>Numer NIP:</td>
                            <td>{{ order.extra_field_1 }}</td>
                        </tr>
                        <tr>
                            <td>Konsultant:</td>
                            <td>{{ order.extra_field_2 }} -{{ order.konsultantId }} - {{ order.konsultantFirstName }} {{ order.konsultantLastName }}</td>
                        </tr>
                        <tr>
                            <td>Zmień użytkownika:</td>
                            <td>
                                <form class="form-horizontal" action="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id }}&perf=updateOrderUser" method="POST">
                                    <select name="userId" class="form-control">
                                        <option>Wybierz użytkownika</option>
                                        {% for user in users %}
                                            {% if user.id == order.user_id %}
                                                <option selected value="{{ user.id }}">{{ user.username }} - {{ user.name }}</option>
                                            {% else %}
                                                <option value="{{ user.id }}">{{ user.username }} - {{ user.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <input type="submit" class="btn btn-default" value="Zmień">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>Zmień dane faktury</td>
                            <td><a href="index.php?site=admin&action=shop&act=orderEdit&orderId={{ order.order_id }}" class="btn btn-default">Zmień</a></td>
                        </tr>
                         </table>
                    </div>
                    <div class="col-md-6">
                        <strong>Wysyłka do</strong>
                        {% set countAddresses = orderSendAddress|length %}
                                {% if countAddresses > 1 %}
                                    {% set addType = 'ST'%}
                                {% else %}
                                    {% set addType = 'BT'%}
                                {% endif %}
                                {% for userSendTo in orderSendAddress%} 
                                    {% if userSendTo.address_type == addType %}
                                        <table class="table table-bordered">
                                        <tr>
                                            <td>Alias:</td>
                                            <td>{{ userSendTo.address_type_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Nazwa firmy:</td>
                                            <td>{{ userSendTo.company|replace({'&quot;':'"'}) }}</td>
                                        </tr>
                                        <tr>
                                            <td>Imię i Nazwisko:</td>
                                            <td>{{ userSendTo.first_name }} {{ userSendTo.last_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Ulica:</td>
                                            <td>{{ userSendTo.address_1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Miasto:</td>
                                            <td>{{ userSendTo.city }}</td>
                                        </tr>
                                        <tr>
                                            <td>Kod pocztowy:</td>
                                            <td>{{ userSendTo.zip }}</td>
                                        </tr>
                                        <tr>
                                            <td>Telefon:</td>
                                            <td>{{ userSendTo.phone_1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Telefon kom.:</td>
                                            <td>{{ userSendTo.phone_2 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Numer NIP:</td>
                                            <td>{{ userSendTo.extra_field_1 }}</td>
                                        </tr>
                                        
                            <tr>
                                <td>Zmień na gotowy adres wysyłki: </td>
                                <td>
                                    <form class="form-horizontal" action="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id }}&perf=updateOrderSendTo" method="POST">
                                        <select name="userInfoId"class="form-control">
                                            {% for userAddres in userAddresses %}
                                                {% if userAddres.user_info_id == order.user_info_id %}
                                                    <option selected value="{{ userAddres.user_info_id }}">{{ userAddres.address_type_name }}</option>
                                                {% else %}
                                                    <option value="{{ userAddres.user_info_id }}"> {{ userAddres.address_type_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <input type="submit" class="btn btn-default" value="Zmień">
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>Zmień dane wysyłki:</td>
                                <td>
                                    <td><a href="index.php?site=admin&action=shop&act=orderSendEdit&orderId={{ order.order_id }}" class="btn btn-default">Zmień</a></td>
                                </td>
                            </tr>
                             </table>
                             {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="well table-responsive">
                    <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td><strong>Usuń</strong></td>
                            <td><strong>Ilość</strong></td>
                            <td><strong>Nazwa</strong></td>
                            <td><strong>Cena netto</strong></td>
                            <td><strong>Cena brutto</strong></td>
                            <td><strong>Podatek</strong></td>
                            <td><strong>Suma</strong></td>
                            <td><strong>Zapisz</strong></td>
                        </tr>
                    </thead>
                    {% for item in orderProducts %}
                        <form action="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id }}&perf=updateItem" method="POST">
                        <input type="hidden" name="productAttribute" value="" />
                        <tr>
                            <td><a href="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id }}&perf=delete&orderItemId={{ item.order_item_id }}" class="btn btn-danger">Usuń</a></td>
                            <td><input  type="hidden" name="itemId" value="{{ item.order_item_id }}"/>
                            <input style="width:50px" class="form-control" name="productQuantity" value="{{ item.product_quantity }}"/></td>
                            <td>{{ item.product_name }}</td>
                            <td><input style="width:150px" class="form-control" name="productPrice" value="{{ item.product_item_price|round(2,"common") }}"/></td>
                            <td><input style="width:150px" class="form-control" name="productFinalPrice" value="{{ item.product_final_price|round(2,"common") }}"/></td>
                            <td>{{ item.tax_rate * 100 }}%</td>
                            <td>{{ item.product_quantity * item.product_final_price|round(2,"common") }}</td>
                            <td><input type="submit" value="Zapisz" class="btn btn-success"/></td>
                        </tr>
                        </form>
                    {% endfor %}
                        <tr>
                            <td colspan="5">
                            </td>
                            <td>
                                Suma netto:
                            </td>
                            <td>
                                {{ order.order_subtotal|round(2,"common") }}zł
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                            </td>
                        
                            <td>
                                Suma:
                            </td>
                            <td>
                                {{ order.order_total|round(2,"common") }}zł
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                            </td>
                        
                            <td>
                                Koszt administracyjny:
                            </td>
                            <td>
                            <form action="index.php?site=admin&action=shop&act=orderDetail&orderId={{order.order_id}}&perf=administrationFee" method="POST">
                                <input type="text" name="administrationFee" value="{{ order.administrationFee|round(2,"common") }}" /> zł
                            </td>
                            <td>
                                <input type="submit" class="btn btn-default" value="Zapisz"/>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                            </td>
                        
                            <td>
                                Obrót:
                            </td>
                            <td>
                            {% set ron = order.order_subtotal - order.administrationFee %}
                                {{ ron|round(2,"common") }} zł
                            </td>
                        </tr>
                    </table>
                    
                </div>
                <div class="well">
                    <form class="form-horizontal" action="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id }}&perf=add" method="POST">
                    <div class="col-md-2">
                        <strong>Dodaj produkt</strong>
                    </div>
                    <div class="col-md-6">
                        <select name="itemId" class="form-control">
                            <option>Wybierz produkt</option>
                            {% for product in products %}
                                <option value="{{ product.product_id }}">{{ product.product_name }}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-primary" value="Dodaj">
                    </div>
                    </form>
                    <br/>
                </div>
                <div class="well">
                    <strong>Informacje o wysyłce</strong><br/>
                    <div class="col-md-6">
                        Metoda płatności: {{ order.payment_method_name }}<br/>
                        <form action='index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id }}&perf=paymentsMethod' method='POST'>
                            <select name='paymentMethodId' class='form-control'>
                                {% for payment in payments %}
                                    <option value='{{payment.payment_method_id}}'>{{payment.payment_method_name}}</option>
                                {% endfor %}
                            </select>
                            <input type='submit' value='Zmień' class='btn btn-default' />
                        </form>
                    </div>
                    <div class="col-md-6">
                        Rodzaj wysyłki:
                        
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="well">
                <strong>Notatka klienta</strong><br/>
                <form action="index.php?site=admin&action=shop&act=orderDetail&orderId={{ order.order_id }}&perf=updateCustomerNote" method="POST">
                    <textarea name="customerNote" class="form-control" rows="5">{{ order.customer_note }}</textarea>
                    <input type="hidden" value="{{order.order_id}}" name="" >
                    <input type="submit" class="btn btn-default" value="Zapisz"/>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}