<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Platforma wewnętrzna grupaformat.pl - AnuuVendor</title>

    <!-- Bootstrap -->
    <link href="web/css/bootstrap.min.css" rel="stylesheet">
    <link href="web/css/custom.css" rel="stylesheet">
    <link href="web/css/lightbox.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon"  type="web/images/png" href="favicon.png">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% block script %}

{% endblock %}
  </head>
  <body background="{{ config.siteBackgroundImage }}">
    <div class="{% if config.menuPosition is defined %}{{ config.menuPosition }}{% else%}menu{% endif %}{% if config.menuShadow is defined %} menu-shadow {% endif %} {{ config.menuWidth }}" id="menu">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="#"><img style="height:50px;" src="web/images/logo.jpg"/></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if menu is not defined %}
                        {% set menu = 'start' %}
                    {% endif %}
                    <div >
                        <ul class="nav navbar-nav">
                            <li{% if menu == 'shop' %} class="active"{% endif %}><a href="index.php?site=shop">Sklep</a></li>
                            <li{% if menu == 'myAccount' %} class="active"{% endif %}><a href="index.php?site=myAccount">Konto Konsultanta</a></li>
                        </ul>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <a href='' class="navbar-brand">{{ config.companyName }}<br/><span style="companySlogan">{{ config.companySlogan }}</span></a>
                        </ul>
                    
                </div>
            </div>
        </nav>
    </div><br/>
    <p style="height:40px;"></p>
    {% if config.carousel == true %}
        {% include 'carousel.html.twig' %}
    {% endif %}
    
    {% include "shop-info.html.twig" %}
    
    {% block body%}
    {% endblock %}
    
        {% block footer %}
        <div class="footer"><p class="text-center"><a href="http://{% block footerAddress %}
                     {{config.pageSite }}
            {% endblock %}">
            {% block footerText %}
                {{ config.pageSite }}
            {% endblock %}
        </a><br/>{{ config.footerText }}</p></div>
    {% endblock %}
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="web/js/bootstrap.min.js"></script>
    <script src="web/js/lightbox.js"></script>
</body>
</html>