{% extends 'base.html.twig' %}

{% block body %}
    {% set url = "index.php?site=shop&view=account" %}
    <div class="container width-full">
        <div class="well">
            <div class="row">
                <div class="row">
                    <div class="col-md-3 bg-info"><br/>
                        {% include "shop-leftMenu.html.twig"%}
                    </div>
                    <div class="col-md-9">
                        <div class="well">
                            <div class="row">
                                <div class="well">
                                    <div class="table-responsive">
                                            <strong>Zamówienia:</strong>
                                            <table class="table table-bordered">
                                            <tr class="bg-success">
                                                <td>Lp.</td>
                                                <td>Nr zamówienia</td>
                                                <td>Data zamówienia</td>
                                                <td>Data modyfikacji</td>
                                                <td>Suma</td>
                                            </tr>
                                            {% set a = 1 %}
                                            {% for order in orders %}
                                                <tr>
                                                    <td>{{ a }}</td>
                                                    <td><a href="index.php?site=shop&view=orderDetail&orderId={{ order.order_id }}">{{ order.order_id }}</a></td>
                                                    <td>{{ order.cdate|date("d-m-Y H:i:s",false) }}</a></td>
                                                    <td>{{ order.mdate|date("d-m-Y H:i:s",false) }}</a></td>
                                                    <td>{{ order.order_subtotal|round(2,'common') }}zł / {{ order.order_total|round(2,'common') }}zł</td>
                                                </tr>
                                                {% set a = a+1 %}
                                            {% endfor %}
                                            </table>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
