{% extends 'base.html.twig' %}

{% block body %}
<script>
    $(document).ready(function (){
         $("#nip").change(function () {

            var nip = $("#nip").val();
            var msgbox = $("#nip_lbl");

            if (nip.length > 9) {
                $("#nip_lbl").html('Sprawdzanie poprawności email...');
                function validatenip(nip) {
                    var nip_bez_kresek = nip.replace(/-/g,"");
                    var reg = /^[0-9]{10}$/;
                    if(reg.test(nip_bez_kresek) == false) {
                    return false;}
                    else
                    {
                        var dig = (""+nip_bez_kresek).split("");
                        var kontrola = (6*parseInt(dig[0]) + 5*parseInt(dig[1]) + 7*parseInt(dig[2]) + 2*parseInt(dig[3]) + 3*parseInt(dig[4]) + 4*parseInt(dig[5]) + 5*parseInt(dig[6]) + 6*parseInt(dig[7]) + 7*parseInt(dig[8]))%11;
                        if(parseInt(dig[9])==kontrola)
                        return true;
                        else
                        return false;
                    }
                 
                }
                
                if(validatenip(nip)==true) {
                    $("#nip").removeClass("text-danger");
                    $("#nip").addClass("text-success");
                    $("#nip_lbl").html('<div style="float:right;margin-right:20px;"><span class="ui-icon ui-icon-check"></span> <font color="Green">Nip jest poprawny</font></div> ');
                } else {
                    $("#nip").removeClass("text-success");
                    $("#nip").addClass("text-danger");
                    $("#nip_lbl").html('<div style="float:right;margin-right:20px;"><font color="Red">Nip nie jest poprawny</font></div> ');
                }
                
            }
            else {
                $("#nip").addClass("text-danger");
                $("#nip_lbl").html('<div style="float:right;margin-right:20px;"><font color="Red">Za mało znaków</font></div>');
            }
            return false;
        });
        
         $("#gusNip").change(function () {

            var nip = $("#gusNip").val();
            var msgbox = $("#gusNip_lbl");

            if (nip.length > 9) {
                $("#gusNip_lbl").html('Sprawdzanie poprawności email...');
                function validatenip(nip) {
                    var nip_bez_kresek = nip.replace(/-/g,"");
                    var reg = /^[0-9]{10}$/;
                    if(reg.test(nip_bez_kresek) == false) {
                    return false;}
                    else
                    {
                        var dig = (""+nip_bez_kresek).split("");
                        var kontrola = (6*parseInt(dig[0]) + 5*parseInt(dig[1]) + 7*parseInt(dig[2]) + 2*parseInt(dig[3]) + 3*parseInt(dig[4]) + 4*parseInt(dig[5]) + 5*parseInt(dig[6]) + 6*parseInt(dig[7]) + 7*parseInt(dig[8]))%11;
                        if(parseInt(dig[9])==kontrola)
                        return true;
                        else
                        return false;
                    }
                 
                }
                
                if(validatenip(nip)==true) {
                    $("#gusNip").removeClass("text-danger");
                    $("#gusNip").addClass("text-success");
                    $("#gusNip_lbl").html('<div style="margin-left:10px;"><span class="ui-icon ui-icon-check"></span> <font color="Green">Nip jest poprawny</font></div> ');
                } else {
                    $("#gusNip").removeClass("text-success");
                    $("#gusNip").addClass("text-danger");
                    $("#gusNip_lbl").html('<div style="margin-left:10px;"><font color="Red">Nip nie jest poprawny</font></div> ');
                }
                
            }
            else {
                $("#gusNip").addClass("text-danger");
                $("#gusNip_lbl").html('<div style="margin-left:10px;"><font color="Red">Za mało znaków</font></div>');
            }
            return false;
        });
    })
</script>
    {% set url = "index.php?site=shop&view=register" %}
    <div class="container width-full">
        <div class="well">
            <div class="row">
                <div class="row">
                    <div class="col-md-3">
                        {% include "shop-leftMenu.html.twig" %}
                    </div>
                    <div class="col-md-9">
                        <div class="well responsive">
                            <div class="row">
                                {% if user is empty %}
                                    <form class="form-inline" action="{{url}}&perf=gus" method="POST">
                                        <input class="form-control" type="text" id="gusNip" name="gusNip" value="{{ gus.nip }}"/>
                                        <input type="submit" value="Pobierz dane z gus" class="btn btn-primary"/><br/><span id="gusNip_lbl"></span>
                                    </form><br/>
                                    {%if gus is not empty%}
                                        <div class="alert alert-success text-center"> Dane poprawnie pobrane </div>
                                    {%endif%}
                                    <form class="form-inline" action="{{url}}&perf=register" method="POST">
                                        <table class="table-responsive">
                                            
                                            <tr>
                                                <td>
                                                    <label>Nazwa konta:*</label>
                                                </td>
                                                <td style="width:10px;">  
                                                </td>
                                                <td>
                                                    <input style="width:600px;" class="form-control" type="text" name="name" placeholder="nazwa konta" value="{%if gus is not empty %}{{gus.nazwa}}{%endif%}" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Login:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="username" placeholder="login" value="{%if gus is not empty %}{{gus.nip}}{%endif%}" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Email:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="email" placeholder="email" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Firma:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input style="width:600px;" class="form-control" type="text" name="company" placeholder="firma" value="{%if gus is not empty %}{{gus.nazwa}}{%endif%}" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Imię:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="firstName" placeholder="wpisz imię" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Nazwisko:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="lastName" placeholder="wpisz nazwisko" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Telefon:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="phone1" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Telefon 2:</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="phone2"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Adres:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="address1"  value="{%if gus is not empty %}{{gus.ulica}} {{gus.nr}}{%endif%}" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Miasto:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="city" value="{%if gus is not empty %}{{gus.miasto}}{%endif%}" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>NIP:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td> <span id="nip_lbl"></span>
                                                    <input id="nip" class="form-control" type="text" name="extraField1"  value="{%if gus is not empty %}{{gus.nip}}{%endif%}" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Kod pocztowy:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="zip"  value="{%if gus is not empty %}{{gus.zip}}{%endif%}" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="btn btn-success" type="submit" value="Zarejestruj"/>
                                                </td>
                                            </tr>
                                        </table>
                                        <input type="hidden" name="register"/>
                                    </form>
                                {% else %}
                                    Jesteś zalogowany jako:<br/>
                                    {{user.name}}<br/>
                                    <a href="{{url}}&view=account" class="btn btn-default btn-xs">Moje konto</a>
                                    <a href="{{url}}&view=orders" class="btn btn-default btn-xs">Moje zamówienia</a><br/><br/>
                                    <a href="index.php?site=shop&action=logout" class="btn btn-info">Wyloguj się</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
