{% extends 'base.html.twig' %}

{% block body %}
    {% set url = "index.php?site=shop&view=cart" %}
    <div class="container width-full">
        <div class="well">
            <div class="row">
                <div class="row">
                    <div class="col-md-3 bg-info"><br/>
                        {% include "shop-leftMenu.html.twig"%}
                    </div>
                    <div class="col-md-9">
                        <div class="well responsive">
                            <div class="row">
                                <div class="well fade in" id="order-step-1">
                                  {% if items is not empty %}
                                    
                                
                                    <table class="table table-cendensed font11">
                                    <tr>
                                        <td><strong>Produkt</strong></td>
                                        <td><strong>Cena Netto</strong></td>
                                        <td><strong>Cena Brutto</strong></td>
                                        <td><strong>Ilość</strong></td>
                                        <td><strong>Kwota</strong></td>
                                        <td></td>
                                    </tr>
                                    {% set total = 0 %}
                                    {% set totalFinal = 0 %}
                                    {% for id, qty in items %}
                                        {% for product in products if product.product_id == id %}                                
                                            {% if product.final_price|round(2,"common") == '0' %}
                                                {% set productFinalPrice = product.product_price|round(2,"common") %}
                                            {% else %}
                                                {% set productFinalPrice = product.final_price|round(2,"common") %}
                                            {% endif %}                                
                                        <tr>
                                            <td>{{ product.product_name }}</td>
                                            <td>{{ product.product_price|round(2,"common") }}zł</td>
                                            <td>{{ productFinalPrice|round(2,"common") }}zł</td>
                                            <td><div class="row">
                                            <form action="index.php" method="GET">
                                                    <input type="hidden" value="shop" name="site" />
                                                    <input type="hidden" value="cart" name="view" />
                                                    <input type="text" class="form-control" value="{{ qty }}" name="qty" />
                                                    <input type="hidden" value="{{ id }}" name="productId" />
                                                    <input type="hidden" value="update" name="action" />
                                                    <input type="submit" value="aktualizuj" class="btn btn-default font11" />
                                            </form>
                                            </td>
                                            {% set productsPrice = product.product_price * qty %}
                                            <td>{{ productsPrice|round(2,"common") }}  zł</td>
                                            <td><a class="btn btn-danger font11" href="{{ url }}&action=remove&productId={{ id }}">Usuń</a></td>
                                        </tr>
                                        
                                        {% set total = total + product.product_price * qty %}
                                        {% set totalFinal = totalFinal + productFinalPrice * qty %}
                                        {% endfor %}
                                    {% endfor %}
                                    <tr>
                                        <td><a class="btn btn-danger" href="{{ url }}&action=empty">Opróżnij koszyk</a></td>
                                        <td colspan="5" align="right">Całkowity koszt netto: {{  total|round(2,"common") }} zł<br/>
                                                                                Całkowity koszt brutto: {{  totalFinal|round(2,"common") }} zł</td>
                                    </tr>
                                    </table>
                                    <p class="text-left">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Produktów w koszyku {{items|length}}<br/>
                                                Kwota netto: {{ total|round(2,"common") }}zł<br/>
                                                Kwota brutto: {{ totalFinal|round(2,"common") }}zł<br/>
                                            </div>
                                            <div class="col-md-6">
                                                {% if user is empty %}
                                                    <a class="btn btn-success" href="index.php?site=shop&view=login">Zaloguj się</a>
                                                {% else %}
                                                    <a class="btn btn-success" id="continueOrder" href="#">Zamów</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </p>
                                {% else %}
                                   <p style="color:#990000;">Twój koszyk jest pusty.</p>
                                {% endif %}
                                </div>
                                <div id='order-step-2' class="collapse fade" >
                                
                                
                                <strong>Koszyk - potwierdzenie</strong>
                                {% if items is not empty %}
                                    
                                
                                    <table class="table table-cendensed font11">
                                    <tr>
                                        <td><strong>Produkt</strong></td>
                                        <td><strong>Cena Netto</strong></td>
                                        <td><strong>Cena Brutto</strong></td>
                                        <td><strong>Ilość</strong></td>
                                        <td><strong>Kwota</strong></td>
                                        <td></td>
                                    </tr>
                                    {% set total = 0 %}
                                    {% set totalFinal = 0 %}
                                    {% for id, qty in items %}
                                        {% for product in products if product.product_id == id %}                                
                                            {% if product.final_price|round(2,"common") == '0' %}
                                                {% set productFinalPrice = product.product_price|round(2,"common") %}
                                            {% else %}
                                                {% set productFinalPrice = product.final_price|round(2,"common") %}
                                            {% endif %}
                                        <tr>
                                            <td>{{ product.product_name }}</td>
                                            <td>{{ product.product_price|round(2,"common") }}zł</td>
                                            <td>{{ productFinalPrice }}zł</td>
                                            <td>{{ qty }}</td>
                                            <td>{{ product.product_price * qty }}  zł</td>
                                        </tr>
                                        
                                        {% set total = total + product.product_price * qty %}
                                        {% set totalFinal = totalFinal + productFinalPrice * qty %}
                                        {% endfor %}
                                    {% endfor %}
                                    <tr>
                                        <td colspan="6" align="right">Całkowity koszt netto: {{  total|round(2,"common") }} zł<br/>
                                                                      Całkowity koszt brutto: {{  totalFinal|round(2,"common") }} zł</td>
                                    </tr>
                                    </table>
                                {% else %}
                                   <p style="color:#990000;">Twój koszyk jest pusty.</p>
                                {% endif %}
                                <div class="well">
                                    <strong>Wybierz adres wysyłki:</strong>
                                    <hr/>
                                    <div class="panel">
                                        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#addAddress" aria-expanded="false" aria-controls="addAddress">
                                          Dodaj adres wysyłki
                                        </button>
                                        <div class="collapse" id="addAddress">
                                            <div class="well bg-grey">
                                                <form action="{{url}}&perf=addUserInfo" method="POST">
                                                    Nazwa adresu: <input type="text" class="form-control" name="addressTypeName" required/>
                                                    Nazwa firmy: <input type="text" class="form-control" name="company"/>
                                                    Nazwisko: <input type="text" class="form-control" name="lastName" />
                                                    Imię: <input type="text" class="form-control" name="firstName"/>
                                                    Telefon: <input type="text" class="form-control" name="phone"/>
                                                    Telefon 2 :<input type="text" class="form-control" name="phone2"/>
                                                    Adres:<input type="text" class="form-control" name="address"/>
                                                    Adres 2:<input type="text" class="form-control" name="address2" />
                                                    Miasto: <input type="text" class="form-control" name="city" />
                                                    Kod pocztowy: <input type="text" class="form-control" name="zip" />
                                                    NIP: <input type="text" class="form-control" name="extraField1" />
                                                    <input type="submit" class="btn btn-success" value="Zapisz nowy adres"/>
                                                </form>
                                             </div>
                                         </div>
                                    </div>
                                    <form action="index.php?site=shop&view=doOrder" method="POST">
                                    {% for userAdress in userAddresses %}
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input type="radio" value="{{userAdress.user_info_id}}" name="userInfoId" {%if userAdress.address_type == "BT"%} checked="checked" {% endif %}/> {{userAdress.address_type_name}}
                                            </div>
                                            <div class="col-md-2">
                                                {{userAdress.company}}
                                            </div>
                                            <div class="col-md-2">
                                                {{userAdress.first_name}} 
                                                {{userAdress.last_name}}
                                            </div>
                                            <div class="col-md-2">
                                                {{userAdress.zip}} 
                                                {{userAdress.city}}
                                            </div>
                                            <div class="col-md-2">
                                                {{userAdress.address_1}} 
                                                {{userAdress.address_2}}
                                            </div>
                                        </div>
                                    {% endfor %}

                                    </div>
                                    <div class="well">
                                        <strong>Wybierz sposób płatności:</strong>
                                        {% for payment in paymentsMethod %}
                                            <div class="row">
                                                {% if payment.payment_method_id == 1%}
                                                    <input type="radio" name="paymentMethodId" value="{{payment.payment_method_id}}" checked> - {{payment.payment_method_name}}
                                                {% else %}
                                                    <input type="radio" name="paymentMethodId" value="{{payment.payment_method_id}}"> - {{payment.payment_method_name}}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="well">
                                        <strong>Notatka klienta:</strong>
                                        <textarea class="form-control" name="customerNote" placeholder="Uwagi do swojego zamówienia"></textarea>
                                    </div>
                                    <div class="row">
                                        <input type="submit" class="block-right btn btn-success" value="Zamawiam"/>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if info == 'addUserInfo-success' %}
        <script>
            $(function() {
                $( "#order-step-2" ).collapse();
                $( "#order-step-1" ).collapse();
            });
        </script>
    {% endif %}
            <script>
            $( "#continueOrder" ).click(function() {
              $( "#order-step-2" ).collapse();
              $( "#order-step-1" ).collapse();
            });
        </script>
{% endblock%}
