{% extends 'base.html.twig' %}

{% block body %}
    {% set url = "index.php?site=shop&view=account" %}
    <div class="container width-full">
        <div class="well">
            <div class="row">
                <div class="row">
                    <div class="col-md-3 bg-info"><br/>
                        {% include "shop-leftMenu.html.twig"%}
                    </div>
                    <div class="col-md-9">
                        <div class="well responsive">
                            <div class="row">
                                <div class="col-md-12 bg-white">
                                    <div class="row">
                                    <div class="col-md-5">
                                    <div class="pull-left">
                                    Data utworzenia: {{ user.registerDate|date("d-m-Y H:i:s") }}
                                    </div>
                                    <form action="{{url}}&perf=updateUserInfo" method="POST">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-success" value="Zapisz"/>
                                    </div>
                                    <br/><br/>
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>
                                                Nazwa firmy
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="company" value="{{ user.company }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Imię
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="firstName" value="{{ user.first_name }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Nazwisko
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="lastName" value="{{ user.last_name }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Email
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="email" value="{{ user.email }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Telefon
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="phone1" value="{{ user.phone_1 }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Telefon 2
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="phone2" value="{{ user.phone_2 }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Ulica
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="address1" value="{{ user.address_1 }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Miasto
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="city" value="{{ user.city }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Kod pocztowy
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="zip" value="{{ user.zip }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                NIP
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="extraField1" value="{{ user.extra_field_1 }}"/>
                                            </td>
                                        </tr>
                                    </table>
                                    </form>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="well">
                                            <strong>Dane użytkownika:</strong>
                                            <form action="{{url}}&perf=updateUserData" method="POST">
                                                Nazwa: <input type="text" class="form-control" name="name" value="{{user.name}}"/>
                                                Nazwa użytkownika: <input type="text" class="form-control" name="username" value="{{user.username}}"/>
                                                Email: <input type="text" class="form-control" name="email" value="{{user.email}}"/>
                                                Hasło: <input type="password" class="form-control" name="password" placeholder="Wpisz nowe hasło"/>
                                                
                                                <input type="submit" class="btn btn-success" value="Zapisz zmiany"/>
                                            </form>
                                        </div>
                                        <div class="well">
                                            <strong>Wysyłki:</strong>
                                            {% for userAddres in userAddresses %}
                                                {% if userAddresses|length == 1 %}
                                                    <br/>Brak dodatkowych adresów wysyłki
                                                {% endif %}
                                                {% if userAddres.address_type == "BT" %}
                                                {% else %}
                                                <div class="row">
                                                    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#{{userAddres.user_info_id}}" aria-expanded="false" aria-controls="{{userAddres.user_info_id}}">
                                                      {{userAddres.address_type_name}}
                                                    </button>
                                                    <a href="{{url}}&perf=deleteUserInfo&userInfoId={{userAddres.user_info_id}}" class="btn btn-danger">Usuń</a>
                                                    <div class="collapse" id="{{userAddres.user_info_id}}">
                                                      <div class="well bg-grey">
                                                        <form action="{{url}}&perf=updateUserInfo" method="POST">
                                                            <input type="hidden" class="form-control" name="addressTypeName" value="{{userAddres.address_type_name}}"/>
                                                            Nazwa firmy: <input type="text" class="form-control" name="company" value="{{userAddres.company}}"/>
                                                            Nazwisko: <input type="text" class="form-control" name="lastName" value="{{userAddres.last_name}}"/>
                                                            Imię: <input type="text" class="form-control" name="firstName" value="{{userAddres.first_name}}"/>
                                                            Telefon: <input type="text" class="form-control" name="phone1" value="{{userAddres.phone_1}}"/>
                                                            Telefon 2 :<input type="text" class="form-control" name="phone2" value="{{userAddres.phone_2}}"/>
                                                            Adres:<input type="text" class="form-control" name="address1" value="{{userAddres.address_1}}"/>
                                                            Adres 2:<input type="text" class="form-control" name="address2" value="{{userAddres.address_2}}"/>
                                                            Miasto: <input type="text" class="form-control" name="city" value="{{userAddres.city}}"/>
                                                            NIP: <input type="text" class="form-control" name="extraField1" value="{{userAddres.extra_field_1}}"/>
                                                            <input type="submit" class="btn btn-success" value="Zapisz zmiany"/>
                                                        </form>
                                                      </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                            <br/>
                                            <div class="panel">
                                                    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#addAddress" aria-expanded="false" aria-controls="addAddress">
                                                      Dodaj adres wysyłki
                                                    </button>
                                                    <div class="collapse" id="addAddress">
                                                      <div class="well bg-grey">
                                                        <form action="{{url}}&perf=addUserInfo" method="POST">
                                                            Nazwa adresu: <input type="text" class="form-control" name="addressTypeName" required/>
                                                            Nazwa firmy: <input type="text" class="form-control" name="company"/>
                                                            Nazwisko: <input type="text" class="form-control" name="lastName" />
                                                            Imię: <input type="text" class="form-control" name="firstName"/>
                                                            Telefon: <input type="text" class="form-control" name="phone1"/>
                                                            Telefon 2 :<input type="text" class="form-control" name="phone2"/>
                                                            Adres:<input type="text" class="form-control" name="address1"/>
                                                            Adres 2:<input type="text" class="form-control" name="address2" />
                                                            Miasto: <input type="text" class="form-control" name="city" />
                                                            Kod pocztowy: <input type="text" class="form-control" name="zip" />
                                                            NIP: <input type="text" class="form-control" name="extraField1" />
                                                            <input type="submit" class="btn btn-success" value="Zapisz nowy adres"/>
                                                        </form>
                                                      </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="well table-responsive">
                                            <strong>Zamówienia:</strong>
                                            <table class="table table-condensed">
                                            <tr>
                                                <td>Lp.</td>
                                                <td>Nr zamówienia</td>
                                                <td>Data zamówienia</td>
                                                <td>Data modyfikacji</td>
                                                <td>Suma</td>
                                            </tr>
                                            {% set a = 1 %}
                                            {% for order in orders %}
                                                <tr>
                                                    <td>{{ a }}</td>
                                                    <td><a href="index.php?site=shop&view=orderDetail&orderId={{ order.order_id }}">{{ order.order_id }}</a></td>
                                                    <td>{{ order.cdate|date("d-m-Y",false) }}</a></td>
                                                    <td>{{ order.mdate|date("d-m-Y",false) }}</a></td>
                                                    <td>{{ order.order_subtotal|round(2,'common') }}zł / {{ order.order_total|round(2,'common') }}zł</td>
                                                </tr>
                                                {% set a = a+1 %}
                                            {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
