
<a href="index.php?site=shop" class="btn btn-success center-block"><strong>Produkty</strong></a>
<br/>
                        <div class="panel panel-default">
                            <div class="panel-heading bg-primary">
                                <strong>Logowanie</strong>
                            </div>
                            <div class="panel-body text-center">
                                {% if user is empty %}
                                    Nie jesteś zalogowany. Zaloguj się<br/>
                                    <form action="{{url}}&action=login" method="POST">
                                        <input class="form-control" type="text" name="username" placeholder="Nazwa użytkownika"/>
                                        <input class="form-control" type="password" name="password" placeholder="Hasło" />
                                        <input class="btn btn-success" type="submit" value="Zaloguj"/>
                                    </form>
                                {% else %}
                                    Jesteś zalogowany jako:<br/>
                                    {{user.name}}<br/>
                                    <a href="{{url}}&view=account" class="btn btn-default btn-xs">Moje konto</a>
                                    <a href="{{url}}&view=orders" class="btn btn-default btn-xs">Moje zamówienia</a><br/><br/>
                                    <a href="index.php?site=shop&action=logout" class="btn btn-info">Wyloguj się</a>
                                {% endif %}
                            </div>
                            
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading bg-success">
                                <strong>Koszyk</strong>
                            </div>
                            <div class="panel-body">
                                {% if items is not empty %}
                                    {% set total = 0 %}
                                    {% set totalFinal = 0 %}
                                    {% for id, qty in items %}
                                        {% for product in products if product.product_id == id %}   
                                            <div class="row">
                                                <div class="col-md-8">
                                                    {{product.product_name}}
                                                </div>
                                                <div class="col-md-2">
                                                    {{qty}} szt
                                                </div>
                                                <div class="col-md-2">
                                                    <a class="btn btn-danger font11" href="{{ url }}&action=remove&productId={{ id }}">Usuń</a>
                                                </div>
                                            </div>
                                            <hr/>
                                            {% set total = total + product.product_price * qty %}
                                            {% set totalFinal = totalFinal + product.final_price * qty %}
                                        {% endfor %}
                                    {% endfor %}
                                    <br/>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td>
                                                            Kwota netto:
                                                        </td>
                                                        <td>
                                                            <span class="badge">{{ total }}zł</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Kwota brutto:
                                                        </td>
                                                        <td>
                                                            <span class="badge">{{ totalFinal }}zł</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                                <a class="btn btn-success" href="index.php?site=shop&view=cart">Do Koszyka</a>
                                        </div>
                                {% else %}
                                   <p style="color:#990000;">Twój koszyk jest pusty.</p>
                                {% endif %}
                            </div>
                        </div>